/*
lightest: #AFE0F0, rgba(175, 224, 240, 0.8);
medium: #34A4C9, rgba(52, 164, 201, 0.8);
darkest: #12495C, rgba(18, 73, 92, 0.8);
 */

/* -----------  general css begin ----------- */
*
{	
	outline: none !important;
	font-style: none;
}

html
{
	height: 100%;
}

body
{
	padding: 0 20px;
	margin-top: 10%;
	font-family: 'Open Sans', 'Arial';
	background: url(../img/vsDark.jpg) no-repeat center center fixed; 
	background-color: #222;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

hr
{
	border-color: white;
}

nav
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	padding: 30px;
	padding-top: 10px;
}

nav ul
{
	width: 100%;
	min-height: 70px;
	color: white;
	padding: 0;
	margin: 0;
	list-style: none;
}

nav.scrolled
{
	left: 0;
	padding: 5px;
	padding-top: 5px;
	background-color: rgba(33, 33, 33, 0.7)
}

nav.scrolled #brand, nav.scrolled #brand a
{
	font-size: 30px;
	vertical-align: middle;
}

nav.scrolled .brand-wrapper
{
	padding-top: 5px;
}

nav.scrolled ul, nav.scrolled li, nav.scrolled li a
{
	min-height: 0px;
	padding: 5px;
	margin: 0;
}

nav li
{
	float: left;
	width: 50%;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

nav li a
{	
	padding: 30px;
	padding-left: 12%;
	padding-right: 12%;
}

nav li a, nav li hr
{
	display: block;
	width: 100%; 
	height: 100%;
	color: white;
	border-color: white;
	text-decoration: none;
	//border: 1px solid;
}

nav li.active a, nav li.active hr
{
	color: #34A4C9;
	border-color: #34A4C9;
}

nav li.active:hover a, nav li.active:hover hr
{
	color: #AFE0F0;
	border-color: #AFE0F0;
}

nav li:hover a, nav li:hover hr
{
	color: #34A4C9;
	border-color: #34A4C9;
	text-decoration: none;
	//background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

#brand, #brand a
{
	height: 60px;
	font-size: 60px;
	color: white;
}

#brand:hover a
{
	color: #34A4C9;
	text-decoration: none;
}

section
{
	min-height: 90vh;
	padding: 0 7%;
	padding-top: 50px;
}

#intro-section
{
	min-height: 75vh;
}
/* ----------- general css end ---------- */

/* ----------- homepage css begin ----------- */
.intro-banner
{
	text-align: center;
}

.intro-banner h1
{
	font-size: 60px;
	text-transform: uppercase;
}

.intro-banner .image-wrapper
{
	padding: 10px;
	padding-top: 30px;
}

.profile-image
{
	border-radius: 10px;
	width: 80%;
	height: auto;
}

.image-wrapper:hover .no-hover, .image-wrapper .on-hover
{
	display: none;
}

.image-wrapper .no-hover, .image-wrapper:hover .on-hover
{
	display: block;
}

p#about
{
	font-size: 18px;
}

.social-links ul
{
	padding: 0;
	margin: 0;
	margin-top: 30px;
	list-style: none;
}

.social-links li
{
	display: inline-block;
	width: 25%;
	padding: 5px;
}

.social-links img
{
	width: 100%;
}

.social-links li .no-hover, .social-links li:hover .on-hover
{
	display: block;
}

.social-links li:hover .no-hover, .social-links li .on-hover
{
	display: none;
}
/* ----------- homepage css end ----------- */

/* ----------- skills page css begin ----------- */
.skills
{
	text-align: center;
}

.skill
{
	padding: 10px 10px;
}

#spoken hr
{
	margin-bottom: 60%;
}

#other
{
	font-size: 18px;
}

#other hr
{
	margin-bottom: 55%;
}

.language-title
{
	font-size: 18px;
	border-radius: 5px;
}

.language-title:hover
{
	background-color: rgba(18, 73, 92, 0.8);
	color: #34A4C9;
	cursor: pointer;
}

.language-value
{
	color: #ccc;
}

.language-title:hover .language-value
{
	color: #AFE0F0;
}

#skills-list
{
	list-style: none;
	padding: 0;
	font-size: 16px;
}

#skills-list li
{
	display: inline-block;
	width: 15%;
	padding: 6% 0;
	border-radius: 5px;
}

.skill-bar-wrapper
{
	position: relative;
	margin: auto;
	margin-bottom: 10px;
	height: 200px;
	background-color: #aaa;
	width: 23%;
}

#skills-list li:hover 
{
	background-color: rgba(18, 73, 92, 0.8);
	padding: 2% 0;
	color: #AFE0F0;
	cursor: pointer;
}

#skills-list li:hover .skill-bar-wrapper
{
	width: 26%;
	height: 220px;
	background-color: #AFE0F0;
}

#skills-list li:hover .skill-bar-inner
{
	background-color: #34A4C9;
}

.skill-bar-inner
{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: inherit;
	padding-top: 10px;
	background-color: #555;
}

.skill-bar-value
{
	font-size: 16px;
}

#cpp .skill-bar-inner
{
	height: 85%;
}

#php .skill-bar-inner
{
	height: 75%;
}

#html .skill-bar-inner
{
	height: 80%;
}

#js .skill-bar-inner
{
	height: 80%;
}

#java .skill-bar-inner
{
	height: 75%;
}
/* ----------- skills page css end ----------- */

/* ----------- projects page css begin ----------- */
.projects
{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	text-align: center;
}

.large-project
{
	padding: 5%;
	border-radius: 20px;
	cursor: pointer;
	z-index: 1;
}

.large-project:hover
{
	background-color: rgba(175, 224, 240, 0.8);
	padding: 2%;
	color: black;
}

.medium-project
{
	border-radius: 10px;
	padding: 15%;
	cursor: pointer;
}

.medium-project:hover
{
	background-color: rgba(175, 224, 240, 0.8);
	padding: 5%;
	color: black;
}

.medium-project p
{
	margin-top: 10px;
	font-size: 16px;
}

.large-project img, .medium-project img
{
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.large-project:hover .visible-no-hover, .large-project .visible-on-hover,
.medium-project:hover .visible-no-hover, .medium-project .visible-on-hover
{
	display: none;
}

.large-project .visible-no-hover, .large-project:hover .visible-on-hover,
.medium-project .visible-no-hover, .medium-project:hover .visible-on-hover
{
	display: block;
}

.large-project:hover img, .medium-project:hover img
{
	opacity: 1;
}

.medium-project img
{
	border-radius: 5px;
}

.small-project
{
	font-size: 16px;
	border-radius: 10px;
	padding: 2px;
	padding-top: 9px;
	width: 100%;
	cursor: pointer;
	margin-top: 20px;
}

.small-project:hover
{
	background-color: rgba(175, 224, 240, 0.8);
	padding: 1px;
	padding-top: 12px;
	font-size: 16px;
	color: black;
}

.modal-window
{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 5% 35%;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	z-index: 2;
	overflow: auto;
}

.modal-window-content
{
	background-color: white;
	border-radius: 5px;
	padding: 20px 30px;
	color: black;
	width: 100%;
	max-height: 100%;
	overflow: auto;
}

.modal-window-content hr
{
	border-color: black;
}

.modal-window-content
{
	width: 100%;
}

.modal-window-close
{
	float: right;
	cursor: pointer;
	color: red;
	padding: 10px;
}

.modal-window-close:hover
{
	text-decoration: underline;
}
/* ----------- projects page css end ----------- */

/* ----------- contact page css begin ----------- */
#mail-form
{
	margin-top: 7%;
}

label
{
	font-weight: normal;
}

input, textarea
{
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.8) !important;
}

textarea
{
	resize: none;
}

#spinner, #mailResponse
{
	display: none;
}

#mailResponse
{
	margin-top: 20%;
	font-size: 16px;
	text-align: center;
}

#spinner
{
	margin-top: 20%;
	text-align: center;
}

#spinner img
{
	width: 100px;
}

.btn-nstl
{
	background-color: white !important;
	color: black;
}

.btn-nstl:hover
{
	background-color: rgba(52, 164, 201, 0.7) !important;
	color: white;
}

#cv-image-wrapper
{
	text-align: center;
	padding: 10%;
}

#cv-image-wrapper:hover
{
	padding: 1%;
	font-size: 16px;
}

#cv-image-wrapper a
{
	width: 100%;
	height: 100%;
	color: white;
}

#cv-image-wrapper:hover a
{
	color: #34A4C9;
	text-decoration: none;
}

#cv-image-wrapper img
{
	width: 60%;
	height: auto;
	margin-bottom: 5px;
}

#cv-image-wrapper .no-hover, #cv-image-wrapper:hover .on-hover
{
	display: block;
}

#cv-image-wrapper:hover .no-hover, #cv-image-wrapper .on-hover
{
	display: none;
}
/* ----------- contact page css end ----------- */
footer
{
	text-align: center;
	width: 100%;
	padding: 5px;
	padding-top: 15px;
	border-top: 1px white solid;
	margin-top: 30px;
}

@media screen and (min-width: 992px) {
	.text-left-responsive
	{
		text-align: left;
	}


	.text-right-responsive
	{
		text-align: right;
	}
}

@media (max-width: 1150px) {
	.modal-window
	{
		padding: 20%;
	}

	#cv-image-wrapper
	{
		padding-top: 20%;
	}

	#cv-image-wrapper:hover
	{
		padding-top: 4%;
	}
}

@media (max-width: 991px) {
	.text-left-responsive
	{
		text-align: center;
	}

	.text-right-responsive
	{
		text-align: center;
	}
}

@media (max-width: 767px){
	#spoken hr
	{
		margin-bottom: 20px;
	}

	#skills-list li
	{
		width: 40%;
	}

	nav
	{
		left: 0;
		padding: 5px;
		padding-top: 5px;
	}

	nav #brand, nav #brand a
	{
		font-size: 30px;
		vertical-align: middle;
	}

	nav .brand-wrapper, nav.scrolled .brand-wrapper
	{
		padding-top: 20px;
	}

	nav ul, nav li, nav li a
	{
		min-height: 0px;
		padding: 5px;
		margin: 0;
	}

	.navbar-right li
	{
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.navbar-left li
	{
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.modal-window
	{
		padding: 2%;
		padding-top: 20%;
	}
}

@media (min-height: 750px){
	.skill-bar-wrapper
	{
		height: 300px;
	}

	#skills-list li:hover .skill-bar-wrapper
	{
		height: 330px;
	}
}

@media (min-height: 1000px){
	.skill-bar-wrapper
	{
		height: 400px;
	}

	#skills-list li:hover .skill-bar-wrapper
	{
		height: 440px;
	}
}

@media (min-height: 1400px){
	.skill-bar-wrapper
	{
		height: 600px;
	}

	#skills-list li:hover .skill-bar-wrapper
	{
		height: 660px;
	}
}

@media (orientation:portrait){
	section
	{
		min-height: 50vh !important;
	}
}

.padding-3
{
	padding: 3%;
}

.bold
{
	font-weight: bold;
}

.width-75
{
	width: 75%;
}

.no-margin
{
	margin: 0;
}

.margin-bot-50
{
	margin-bottom: 50px;
}