html
{
	height: 100%;
}

body
{
	margin: 0;
	font-family: 'Helvetica', 'Arial';
	background-image: url('../img/under_construction.jpg');
	background-position: bottom;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: %;
}

header
{
	position: fixed;
	top: 0;
	text-align: center;
	background-color: #FEDE00;
	width: 100%;
	padding: 30px;
}

footer
{
	position: fixed;
	bottom: 0;
	text-align: center;
	background-color: #FEDE00;
	width: 100%;
	padding: 30px;
}

.under-construction
{
	text-align: center;
	margin: 0;
	color: #8291ED	;
}

hr
{
	color: #8291ED;
}